html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1a1a2e;
}

h1, a, p, nav, th, td, rt, h4, label, dt, dd {
    color: #ffffff;
}